.subtitol
{
    color: #6c4675;
    /*Color lila pels caràcters*/
    text-align: center;
    /* Els caràcters estan en el centre del quadrat*/
}
.taula
{
    margin-left: auto;
    margin-right: auto;
    /*Taula situada en el centre*/
}
.titoltaula
{
    color: #0000FF;
    /*Color blau pels caràcters de la posició*/
    padding: 15px;
    /*Entre el text dins de caption i el quadrat o zona més propera, hi ha 15 píxels*/
}
table, th, td
{
    border: 1px solid black;
    /*Color negre i ampla de 1 píxel per la línea del quadrat*/
    border-collapse: collapse;
    /*Línies fines i sòlides*/
    padding: 3px;
    /*Marge de 3 píxels de sepració entre el text i el quadrat*/
}
.fons
{
    background-color: rgba(128, 128, 128, 0.777);
    /* La posició estarà pintada de color gris*/
    text-align: center;
    /* Els caràcters estan en el centre del quadrat*/
}
.fecha
{    
    text-align: center;
    /* Assegurem que els valors de les dates estan al centre*/
}


